<header class="header-nav">
    <div>
        <a href="/">
            <img
                width="80"
                height="50"
                loading="lazy"
                src="{{ 'nike.png' |  asset_url }}"
            >
        </a>
    </div>

    <div>
        <ul class="middle-nav-links">
            {% for link in linklists['main-menu'].links %}
            <li> {{ link.title |  link_to: link.url }} </li>
            {% endfor %}
        </ul>
    </div>

    <div class="right-nav-items">
        <form action="/search">
            <input class="search-nav" placeholder="search" type="search">

            <a href="/cart">
                <img
                        width="80"
                        height="50"
                        loading="lazy"
                        src="{{ 'd.png' |  asset_url }}"
                >
            </a>
        </form>
    </div>
</header>

<style>
    .header-nav {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0 30px 0 30px;
        background-color: white;
    }

    .middle-nav-links {
        display: flex;
        font-size: 17px;
        font-weight: bold;
    }

    .middle-nav-links li {
        padding: 10px;
        list-style-type: none;
    }

    .middle-nav-links li:hover {
        text-decoration: underline;
    }

    .middle-nav-links a {
        text-decoration: none;
        color: inherit;
    }

    .right-nav-items {
        display: flex;
        align-items: center;
    }

    .search-nav {
        padding: 10px;
        margin-top: 10px;
        border-radius: 10px;
        border: none;
        background-color: rgb(233,232,232);
    }
</style>