{% if section.settings['show-announcement'] %}
  <section>
    <div class="announcement-bar">
      <div class="announcement-bar-left-section">
          {%  if section.settings.image != blank %}
            <img
                    width="40"
                    height="40"
                    loading="lazy"
                    src="{{ section.settings.image |  image_url }}"/>
            {% else %}
            <img
                    width="40"
                    height="40"
                    loading="lazy"
                    src="{{ 'a.png' |  asset_url }}"/>
          {% endif %}
          {%  if section.settings.image2 != blank %}
            <img
                    width="40"
                    height="40"
                    loading="lazy"
                    src="{{ section.settings.image2 |  image_url }}"/>
          {% else %}
            <img
                    width="40"
                    height="40"
                    loading="lazy"
                    src="{{ 'b.png' |  asset_url }}"/>
          {% endif %}
      </div>
      <div class="announcement-bar-right-section">
        <ul class="announcement-bar-inner-list">
            {% if section.blocks.size == 0 %}
              <li>
                <a href="#">Help</a>
              </li>
                {% if shop.customer_accounts_enabled %}
                  <li>
                    <a href="/account">Account</a>
                  </li>
                {% else %}
                  <li>
                    <a href="/account/login">Sign in</a>
                  </li>
                {% endif %}

            {% else %}
              {% for block in section.block %}
                <li>
                  <a href="{{ block.settings.link }}">{{ block.settings.text }}</a>
                </li>
              {% endfor %}
            {% endif %}
        </ul>
      </div>
    </div>
  </section>
{% endif %}

<style>
  .announcement-bar {
    background: {{ section.settings.background }};
    color: {{ section.settings.text_color }};
  }
</style>

{% comment %}
  Lets you add into the sections
{% endcomment %}
{% schema %}
{
  "name": "Announcement Bar",
  "settings": [
    {
      "type": "checkbox",
      "id": "show-announcement",
      "label": "Show Announcement",
      "default": true
    },

    {
      "type": "image_picker",
      "id": "image",
      "label": "pick image",
      "info": "png recomended format"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "pick image",
      "info": "png recomended format"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    }
  ],
  "blocks":[
    {
      "name": "Links",
      "type": "links",
      "limit": 4,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "link"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "announcement-bar"
    }
  ]
}
{% endschema %}