<section>
    <div class="banner-wrapper">
        <div class="slide-text" id="text1"><p>Members: Free Shipping!</p></div>
        <div class="slide-text" id="text2"><p>Save Up to 40%</p></div>
        <div class="slide-text" id="text3"><p>Get your Gear Faster</p></div>
    </div>
</section>

<style>
    .banner-wrapper {
        background: {{ section.settings.background }};
        color: {{ section.settings.text_color }}; /* Corrected syntax for color property */
        height: 50px;
        position: relative;
        overflow: hidden;
    }

    .slide-text {
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 20px;
        font-size: 20px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: transform 0.5s ease-in-out;
        opacity: 0; /* set initial state to transparent */
    }

    .slide-text.active {
        opacity: 1; /* make the slide visible */
        transform: translateX(-50%) translateY(-50%);
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const texts = [document.getElementById('text1'), document.getElementById('text2'), document.getElementById('text3')];
        let currentIndex = 0;

        texts.forEach((text, index) => {
            // Position all texts offscreen except for the first one
            if (index !== currentIndex) {
                text.style.transform = 'translateX(100%) translateY(-50%)';
            }
        });

        function slideText() {
            // Animate out the current text
            texts[currentIndex].style.opacity = '0';
            texts[currentIndex].style.transform = 'translateX(-150%) translateY(-50%)';
            texts[currentIndex].classList.remove('active');

            // Move to the next text
            currentIndex = (currentIndex + 1) % texts.length;

            // Animate in the next text
            texts[currentIndex].style.opacity = '1';
            texts[currentIndex].style.transform = 'translateX(-50%) translateY(-50%)';
            texts[currentIndex].classList.add('active');
        }

        // Start with the first text
        texts[currentIndex].classList.add('active');
        // Change text every 3 seconds
        setInterval(slideText, 3000);
    });
</script>

{% schema %}
{
  "name": "Banner",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "banner"
    }
  ]
}
{% endschema %}