<section class="notfound">
    <div class="notfound-in"><h1>404</h1></div>
</section>

<style>
    .notfound {
        background-color: rgb(226, 226, 226);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Set the height to the full viewport height */
    }
    .notfound-in h1 {
        font-size: 100px;
    }
</style>

{% schema %}
{
  "name": "main-404",
  "settings": [],
  "presets": []
}
{% endschema %}