<section class="more-info">
    <div class="more-info-wrapper">
        {% if section.settings.text != blank %}
            <h1>THE RESOLUTION STARTED PACK</h1>
        {% else %}
            <h1>{{ section.settings.text }}</h1>
        {% endif %}

        {% if section.settings.text != blank %}
            <p>THE RESOLUTION STARTED PACK</p>
        {% else %}
            <p>{{ section.settings.text2 }}</p>
        {% endif %}

        <button>Shop</button>
    </div>
</section>

<style>
    .more-info {
        background: {{ section.settings.background }};
        color: {{ section.settings.text_color }};
        display: flex;
        justify-content: center;
    }

    .more-info-wrapper {
        display: flex;
        flex-direction: column;
        width: 500px;
        justify-content: center;
        align-items: center;
    }

    .more-info-wrapper h1 {
        font-size: 50px;
    }

    .more-info-wrapper button {
        padding: 10px 20px 10px 20px;
        background-color: black;
        border: none;
        color: white;
        border-radius: 20px;
        cursor: pointer;
    }

    .more-info-wrapper button:hover {
        background-color: rgb(185, 185, 185);
    }


</style>

{% schema %}
{
  "name": "more-info",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#F4F4F4"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "default text"
    },
    {
      "type": "text",
      "id": "text2",
      "label": "Text2",
      "default": "default text"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "more-info"
    }
  ]
}
{% endschema %}