body {
    background-color: "{{ settings.bg }}";
    padding: 0;
    margin: 0;
}

/**
 * --------------------------------------------------------------------
 * ANNOUNCEMENT BAR
 * --------------------------------------------------------------------
 */

 .announcement-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 30px;
 }

 .announcement-bar-left-section {
    display: flex;
    align-items: center;

 }

 .announcement-bar-inner-list {
    display: flex;
 }

 .announcement-bar-inner-list li {
    list-style-type: none;
    font-size: 15px;
    padding: 3px;
 }

 .announcement-bar-inner-list a {
    text-decoration: none;
    color: inherit;
 }

 .notfound {
   background-color: rgb(226, 226, 226);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh; /* Set the height to the full viewport height */
 }

 .three-images-wrapper {
     display: flex;
 }




